<!-- Main wrapper  -->
<div id="main-wrapper">
    {include file="../modules/navbar.html"}
    {include file="../modules/sidebar.html"}
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3><i class="fa fa-users"></i> Edit Employee</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Edit Employee</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-12">
                    <div class="card card-outline-primary">
                        <div class="card-header">
                            <h4 class="m-b-0 text-white"><i class="fa fa-edit"></i> Edit Employee Account</h4>
                        </div>
                        <div class="card-body">
                            <form id="edit-employee-form" class="form-horizontal">
                                <div class="form-body">
                                    <hr class="m-t-0 m-b-40">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">First Name</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="fname" class="form-control" placeholder="Andrew Mark" value="{$employee.fname|ucwords}">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has-danger row">
                                                <label class="control-label text-right col-md-3">Employment Type</label>
                                                <div class="col-md-9">
                                                    {html_options name="type" class="form-control" options=$types selected=$employee.type}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Middle Name</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="mname" class="form-control" placeholder="Pwerta" value="{$employee.mname|ucwords}">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has-danger row">
                                                <label class="control-label text-right col-md-3">Department</label>
                                                <div class="col-md-9">
                                                    {html_options name="department" class="form-control" options=$departments selected=$employee.department}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Last Name</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="lname" class="form-control" placeholder="Sentido" value="{$employee.lname|ucwords}">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has-danger row">
                                                <label class="control-label text-right col-md-3">Position</label>
                                                <div class="col-md-9">
                                                    {html_options name="position" class="form-control" options=$positions selected=$employee.position}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Employee Number</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="eid" class="form-control" placeholder="Enter new employee number or leave empty to keep the old one">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has-danger row">
                                                <label class="control-label text-right col-md-3">Basic Pay</label>
                                                <div class="col-md-9">
                                                    <input type="number" name="basic" class="form-control" placeholder="15000" value="{$employee.basic_pay}">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Time-In</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="tin" class="timepicker form-control" value="{$schedule.0}">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Time-Out</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="tout" class="timepicker form-control" value="{$schedule.1}">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Break-In</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="bin" class="timepicker form-control" value="{$schedule.2}">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label text-right col-md-3">Break-Out</label>
                                                <div class="col-md-9">
                                                    <input type="text" name="bout" class="timepicker form-control" value="{$schedule.3}">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <input type="hidden" name="id" value="{$employee.id}">
                                </div>
                                <hr>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-edit"></i> Save Changes</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6"> </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer text-center">All Rights Reserved &copy; {"Y"|date}</footer>
        <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->
</div>
<!-- End Wrapper -->