<!-- Main wrapper  -->
<div id="main-wrapper">
    {include file="../modules/navbar.html"}
    {include file="../modules/sidebar.html"}
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-mute"><i class="fa fa-users"></i> Attendance History</h3>
            </div>
            <div class="col-md-7 text-right">
                <button class="btn btn-warning btn-sm" data-iziModal-open="#report"><i class="fa fa-cloud-upload"></i> Submit DTR Report</button>
                <button class="btn btn-primary btn-sm" data-iziModal-open="#form7"><i class="fa fa-check-circle-o"></i> Submit Form7</button>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="pull-left m-r-15 m-b-15">
                                    <input type="text" id="date-min" class="form-control" placeholder="Select Start Date">
                                    <input type="text" id="date-max" class="form-control" placeholder="Select End Date">
                                </div>
                                <table id="history" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <footer class="footer text-center">All Rights Reserved &copy; {"Y"|date}</footer>
        <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->
</div>
<!-- End Wrapper -->