<!-- Main wrapper  -->
<div id="main-wrapper">
    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="login-content card">
                        <div class="login-form">
                            <div class="login-logo">
                               <img src="{$smarty.const.site_url}/templates/default/assets/images/ntek-logo.png" style="width: 100px; height: 100px; text-shadow: 0px 20px 50px rgba(0,0,0,0.5); margin-top: -130px;" />
                                <p>Daily Time Record | <strong>SDO MARIKINA</strong></p>
                            </div>
                            <form id="login">
                                <div class="form-group">
                                    <label><i class="fa fa-user"></i> Username</label>
                                    <input type="text" name="username" class="form-control" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label><i class="fa fa-asterisk"></i> Password</label>
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30"><i class="fa fa-check-circle"></i> Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wrapper -->