<!-- Main wrapper  -->

<div class="error-page" id="wrapper">
    <div class="error-box">
        <div class="error-body text-center">
            <h3 class="text-uppercase"><i class="fa fa-user"></i> Employee Dashboard</h3>
            <p class="text-muted m-t-30 m-b-30">Please enter your employee number to view your recorded attendance history for this month</p>
            <div class="container">
            	<form id="panel-form">
	           		<div class="input-group col-5 mb-3" style="margin: 0 auto">
					  <input type="text" name="eid" class="form-control input-lg" placeholder="12BS86-7516SC8">
					  <div class="input-group-append">
					    <button type="submit" class="btn btn-primary" type="button"><i class="fa fa-check-circle-o"></i> Submit</button>
					  </div>
					</div>
				</form>

				<div class="table"></div>
            </div>	
        </div>
    </div>
</div>
<!-- End Wrapper -->