{if isset($smarty.session.logged) && $page neq "panel"}
{include file="./modules/widgets.html"}
{/if}

<!-- All Jquery -->
<script src="{$smarty.const.site_url}/templates/default/assets/js/lib/jquery/jquery.min.js"></script>
<script src="{$smarty.const.site_url}/templates/default/assets/js/lib/jquery-ui/jquery-ui.min.js"></script>

<!-- Bootstrap tether Core JavaScript -->
<script src="{$smarty.const.site_url}/templates/default/assets/js/lib/bootstrap/js/popper.min.js"></script>
<script src="{$smarty.const.site_url}/templates/default/assets/js/lib/bootstrap/js/bootstrap.min.js"></script>

<!-- slimscrollbar scrollbar JavaScript -->
<script src="{$smarty.const.site_url}/templates/default/assets/js/jquery.slimscroll.js"></script>

<!--Menu sidebar -->
<script src="{$smarty.const.site_url}/templates/default/assets/js/sidebarmenu.js"></script>

<!--stickey kit -->
<script src="{$smarty.const.site_url}/templates/default/assets/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

<!-- Datatables -->
{if isset($smarty.session.logged) && $page neq "panel"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/datatables/datatables.min.js"></script>
{if $page neq "history" || $page neq "panel"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/datatables/dataTables.liveAjax.js"></script>
{/if}
{/if}
{if $page eq "home"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/datatables/init-dashboard.js"></script>
{/if}
{if $page eq "history"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/datatables/init-history.js"></script>
{/if}
{if $page eq "missed"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/datatables/init-missed.js"></script>
{/if}
{if $page eq "employees"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/datatables/init-employees.js"></script>
{/if}
{if $page eq "positions"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/datatables/init-positions.js"></script>
{/if}
{if $page eq "departments"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/datatables/init-departments.js"></script>
{/if}
{if $page eq "holidays"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/datatables/init-holidays.js"></script>
{/if}
{if $page eq "accounts"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/datatables/init-accounts.js"></script>
{/if}
{if $page eq "monitors"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/datatables/init-monitors.js"></script>
{/if}
{if $page eq "devices"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/datatables/init-devices.js"></script>
{/if}

<!--Custom JavaScript -->
<script src="{$smarty.const.site_url}/templates/default/assets/js/izimodal.min.js"></script>
<script src="{$smarty.const.site_url}/templates/default/assets/js/sweetalert.min.js"></script>
<script src="{$smarty.const.site_url}/templates/default/assets/js/lightbox.min.js"></script>
<script src="{$smarty.const.site_url}/templates/default/assets/js/jquery.timepicker.min.js"></script>
{if $page eq "panel"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/jsonToTable.min.js"></script>
{/if}
{if isset($smarty.session.logged) && $page neq "panel"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/admin.js"></script>
{/if}
{if $page eq "login" || $page eq "panel"}
<script src="{$smarty.const.site_url}/templates/default/assets/js/custom.js"></script>
{/if}
<script src="{$smarty.const.site_url}/templates/default/assets/js/scripts.js"></script>

</body>
</html>