{if $page eq "home" or $page eq "history"}
<div id="report" class="iziModal" data-iziModal-title="Submit DTR Report" data-iziModal-subtitle="Generate and submit dtr of employees" data-iziModal-icon="fa fa-cloud-upload">
    <form id="submit-dtr-form">
	  <div class="form-group">
	    <label for="dtr-start">Select Start Date</label>
	    <input type="text" name="start" id="dtr-start" class="form-control" placeholder="Select start date">
	  </div>
	  <div class="form-group">
	    <label for="dtr-end">Select End Date</label>
	    <input type="text" name="end" id="dtr-end" class="form-control" placeholder="Select end date">
	  </div>
	  <div class="form-group">
	    <label for="department">Department</label>
	    {html_options name="department" class="form-control" options=$departments selected=0}
	  </div>
	  <div class="form-group">
	    <label for="department">Employment Type</label>
	    {html_options name="type" class="form-control" options=$types selected=0}
	  </div>
	  <div class="form-group">
	    <label for="department">Include Weekends</label>
	    <select name="weekends" class="form-control">
	    	<option value="0" selected>No</option>
	    	<option value="1">Yes</option>
	    </select>
	  </div>
	  <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Submit</button>
	</form>
</div>

<div id="form7" class="iziModal" data-iziModal-title="Submit Form7" data-iziModal-subtitle="Generate and submit form7 to the central server" data-iziModal-icon="fa fa-check-circle">
    <form id="submit-form7-form">
	  <div class="form-group">
	    <label for="form7-start">Select Start Date</label>
	    <input type="text" name="start" id="form7-start" class="form-control" placeholder="Select start date">
	  </div>
	  <div class="form-group">
	    <label for="form7-end">Select End Date</label>
	    <input type="text" name="end" id="form7-end" class="form-control" placeholder="Select end date">
	  </div>
	  <div class="form-group">
	    <label for="department">Department</label>
	    {html_options name="department" class="form-control" options=$departments selected=0}
	  </div>
	  <div class="form-group">
	    <label for="department">Employment Type</label>
	    {html_options name="type" class="form-control" options=$types selected=0}
	  </div>
	  <div class="form-group">
	    <label for="department">Include Weekends</label>
	    <select name="weekends" class="form-control">
	    	<option value="0" selected>No</option>
	    	<option value="1">Yes</option>
	    </select>
	  </div>
	  <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Submit</button>
	</form>
</div>
{/if}

{if $page eq "missed"}
<div id="bypass" class="iziModal" data-iziModal-title="Attendance Bypass" data-iziModal-subtitle="Bypass a missed attendance by employee" data-iziModal-icon="fa fa-arrow-circle-o-right">
    <form id="submit-bypass-form">
	  <div class="form-group">
	    <label>Employee Number</label>
		<input type="text" name="eid" class="form-control" placeholder="Ex. 21241-123-23">
	  </div>
	  <div class="form-group">
	    <label for="bypass-date">Select Date</label>
	    <input type="text" name="date" id="bypass-date" class="form-control" placeholder="Select date">
	  </div>
	  <div class="form-group">
	    <label>Access Time</label>
		<input type="text" name="time" id="ltin" class="timepicker form-control" value="8:30 AM" placeholder="8:30 AM">
	  </div>
	  <div class="form-group">
	    <label>Access Type</label>
	    <select name="type" class="form-control">
	    	<option value="1" selected>Time-in</option>
	    	<option value="2">Time-out</option>
	    </select>
	  </div>
	  <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Submit</button>
	</form>
</div>
{/if}

{if $page eq "employees"}
<div id="add-employee" class="iziModal" data-iziModal-title="Add New Employee" data-iziModal-subtitle="Add a new employee to the database"  data-iziModal-icon="fa fa-user">
    <form id="add-employee-form">
	  <h4><i class="fa fa-user"></i> Account Details</h4>
	  <div class="row">
	  	<div class="col-md-6">
  		  <div class="form-group">
		    <label for="f-name">First Name</label>
		    <input type="text" name="fname" id="f-name" class="form-control" placeholder="Ex. John">
		  </div>
		</div>
		<div class="col-md-6">
		  <div class="form-group">
		    <label for="m-name">Middle Name</label>
		    <input type="text" name="mname" id="m-name" class="form-control" placeholder="Ex. Banana">
		  </div>
		</div>
	  </div>
	  <div class="row">
	  	<div class="col-md-6">
		  <div class="form-group">
		    <label for="l-name">Last Name</label>
		    <input type="text" name="lname" id="l-name" class="form-control" placeholder="Ex. Doe">
		  </div>
		</div>
		<div class="col-md-6">
		  <div class="form-group">
		    <label for="employee_no">Employee Number</label>
		    <input type="text" name="eid" id="employee_no" class="form-control" placeholder="Ex. 21241-123-23">
		  </div>
		</div>
	  </div>
	  <div class="row">
	  	<div class="col-md-6">
		  <div class="form-group">
		    <label for="department">Employment Type</label>
		    {html_options name="type" class="form-control" options=$types}
		  </div>
		</div>
		<div class="col-md-6">
		  <div class="form-group">
		    <label for="department">Department</label>
		    {html_options name="department" class="form-control" options=$departments}
		  </div>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col-md-6">
		  <div class="form-group">
		    <label for="position">Position</label>
		    {html_options name="position" class="form-control" options=$positions}
		  </div>
	  	</div>
	  	<div class="col-md-6">
		  <div class="form-group">
		    <label for="basic_pay">Basic Pay</label>
		    <input type="text" name="basic" id="basic_pay" class="form-control" placeholder="Ex. 10000">
		  </div>
		</div>
	  </div>
	  <h4><i class="fa fa-clock-o"></i> Schedule</h4>
	  <div class="row">
	  	<div class="col-md-6">
		  <div class="form-group">
		    <label for="ltin">Time-In</label>
		    <input type="text" name="tin" id="ltin" class="timepicker form-control" value="8:30 AM" placeholder="8:30 AM">
		  </div>
	  	</div>
		<div class="col-md-6">
		  <div class="form-group">
		    <label for="ltout">Time-Out</label>
		    <input type="text" name="tout" id="ltout" class="timepicker form-control" value="5:30 PM" placeholder="5:30 PM">
		  </div>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col-md-6">
		  <div class="form-group">
		    <label for="lbin">Break-In</label> <span class="label label-warning" data-toggle="tooltip" data-placement="top" title="This is ignored by system when employment type is teaching"><i class="fa fa-info-circle"></i></span>
		    <input type="text" name="bin" id="lbin" class="timepicker form-control" value="12:00 PM" placeholder="12:00 PM">
		  </div>
	  	</div>
		<div class="col-md-6">
		  <div class="form-group">
		    <label for="lbout">Break-Out</label> <span class="label label-warning" data-toggle="tooltip" data-placement="top" title="This is ignored by system when employment type is teaching"><i class="fa fa-info-circle"></i></span>
		    <input type="text" name="bout" id="lbout" class="timepicker form-control" value="1:00 PM" placeholder="1:00 PM">
		  </div>
	  	</div>
	  </div>
	  <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Submit</button>
	</form>
</div>
{/if}

{if $page eq "positions"}
<div id="add-position" class="iziModal" data-iziModal-title="Add New Position" data-iziModal-subtitle="Add a new position to the database" data-iziModal-icon="fa fa-vcard">
    <form id="add-position-form">
	  <div class="form-group">
	    <label for="pname">Name</label>
	    <input type="text" name="name" id="pname" class="form-control" placeholder="Enter position name">
	  </div>
	  <div class="form-group">
	    <label>Description</label>
	    <textarea name="description" class="form-control" rows="4" placeholder="Enter position description"></textarea>
	  </div>
	  <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Submit</button>
	</form>
</div>
{/if}

{if $page eq "departments"}
<div id="add-department" class="iziModal" data-iziModal-title="Add New Department" data-iziModal-subtitle="Add a new department to the database"  data-iziModal-icon="fa fa-tasks">
    <form id="add-department-form">
	  <div class="form-group">
	    <label for="dname">Name</label>
	    <input type="text" name="name" id="dname" class="form-control" placeholder="Enter department name">
	  </div>
	  <div class="form-group">
	    <label>Description</label>
	    <textarea name="description" class="form-control" rows="4" placeholder="Enter department description"></textarea>
	  </div>
	  <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Submit</button>
	</form>
</div>
{/if}

{if $page eq "holidays"}
<div id="add-holiday" class="iziModal" data-iziModal-title="Add New Holiday" data-iziModal-subtitle="Add a new holiday for generating reports"  data-iziModal-icon="fa fa-calendar-o">
    <form id="add-holiday-form">
	  <div class="form-group">
	    <label for="dname">Name</label>
	    <input type="text" name="name" id="dname" class="form-control" placeholder="Enter holiday name">
	  </div>
	  <div class="form-group">
	    <label for="holiday-date">Date</label>
	    <input type="text" name="holiday" id="holiday-date" class="form-control" placeholder="Select holiday date">
	  </div>
	  <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Submit</button>
	</form>
</div>
{/if}

{if $page eq "accounts"}
<div id="add-account" class="iziModal" data-iziModal-title="Add New Admin" data-iziModal-subtitle="Add a new administrator account"  data-iziModal-icon="fa fa-cog">
    <form id="add-account-form">
	  <div class="form-group">
	    <label for="uname">Username</label>
	    <input type="text" name="username" id="uname" class="form-control" placeholder="Enter desired username">
	  </div>
	  <div class="form-group">
	    <label for="pword">Password</label>
	    <input type="password" name="password" id="pword" class="form-control" placeholder="Enter desired password">
	  </div>
	  <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Submit</button>
	</form>
</div>
{/if}

<div id="configurations" class="iziModal" data-iziModal-title="System Configurations" data-iziModal-subtitle="Adjust system core settings and variables"  data-iziModal-icon="fa fa-cogs">
    <form id="system-config-form">
      <h4><i class="fa fa-cogs"></i> System Settings</h4>
	  <div class="form-group">
	    <label for="flexi">Grace Period</label>
	    <input type="text" name="graceperiod" id="flexi" class="form-control" value="{$settings.graceperiod}" placeholder="In Minutes">
	  </div>
	  <div class="form-group">
	    <label for="flexi">Offset</label>
	    <input type="text" name="offset" id="flexi" class="form-control" value="{$settings.offset}" placeholder="In Minutes">
	  </div>
	  <h4><i class="fa fa-database"></i> Remote API Settings</h4>
	  <div class="form-group">
	    <label for="remote_url">Remote URL</label>
	    <input type="text" name="remote_url" id="remote_url" class="form-control" value="{$settings.remote_url}" placeholder="Enter central server remote url or public address">
	  </div>
	  <div class="form-group">
	    <label for="client_key">Client Key</label>
	    <input type="text" name="key" id="client_key" class="form-control" value="{$settings.key}" placeholder="Enter client key from central server">
	  </div>
	  <div class="form-group">
	    <label for="client_secret">Client Secret</label>
	    <input type="text" name="secret" id="client_secret" class="form-control" value="{$settings.secret}" placeholder="Enter client secret secret from central server">
	  </div>
	  <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Submit</button>
	</form>
</div>