.login-bg {
    background-color: #24292e;
    background-image: url(..//images/star-bg.svg),linear-gradient(#191c20, #24292e 15%);
    background-repeat: repeat-x;
    background-position: center 0, 0 0, 0 0;
}

.navbar-brand img {
    margin-top: .5em;
    margin-bottom: .5em;
}

.login-logo {
    text-align: center;
    margin: 2em;
    margin-top: 0;
}

.login-logo .logo-small img {
    width: 70px;
}

.login-logo .logo-big img {
    height: 70px;
}

.logo-small img {
    width: 50px;
}

.logo-big img {
    height: 50px;
}

.swal-text {
    text-align: center;
}